@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --bg-color: #e7e7e7;
  --color-text: #3d3d3d;
  --color-textlight: #e7e7e7;
  --color-blue: #1801c5;

  /*Typografi */
  --font-display: "Caveat", cursive;
  --font-paragraph: "Cutive Mono", monospace;
  --font-buttons: "Didact Gothic", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
