---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Application">
	<main class="container mx-auto">
		<Heading htmlheading="h1" size="xlarge" font="h1" stylingclasses="grid text-center">Margherita</Heading>
		<Heading htmlheading="h1">Lav noget flot!</Heading>
        <Text teksttype="brødtekst">Så bliver Anders glad:-)</Text>
	</main>
</MainLayout>