<!-- Husk Tailwind i dit projekt. Tilføj Alpine (hvis ikke allerede): -->
<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

<header x-data="{ showmenu: false }"
        x-on:keydown.escape.window="showmenu = false"
        class="relative z-50">

  <div id="navbar" class="container mx-auto flex justify-end py-4 px-4 lg:py-10 lg:px-0">

    <!-- LET'S CONNECT knap (synlig på alle skærmstørrelser) -->
   <button
  x-on:click="showmenu = !showmenu"
  :aria-expanded="showmenu"
  aria-controls="sideMenu"
  class="font-buttons text-lg lg:text-2xl relative group">
  LET'S CONNECT

  <!-- underline SVG -->
      <img 
        src="/images/underline.svg" 
        alt="underline"
        class="absolute left-0 w-full 
               opacity-0 md:group-hover:opacity-100 active:opacity-100
               transition-opacity duration-300
               translate-y-1"
      />
</button>

  <!-- Side-menu (sliding panel fra højre) -->
  <aside
    id="sideMenu"
    x-show="showmenu"
    x-transition:enter="transition transform duration-300"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition transform duration-300"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-full"
    x-cloak
    x-on:click.outside="showmenu = false"
    role="dialog"
    aria-modal="true"
    class="fixed top-0 right-0 h-full bg-[var(--color-blue)] text-[#E7E7E7] z-50
           w-full sm:w-80 md:w-96 shadow-lg overflow-auto">

    <!-- Luk-knap -->
    <div class="flex justify-end p-4">
      <button x-on:click="showmenu = false" class="text-3xl leading-none" aria-label="Close menu">&times;</button>
    </div>

    <!-- Menu-indhold -->
    <ul class="flex flex-col items-center gap-10 lg:gap-20 lg:py-6 text-lg lg:text-2xl uppercase tracking-wide font-buttons">
  <li><a href="#" target="_blank">LinkedIn</a>
</li>


  <li><a href="https://www.facebook.com/margherita.feltrin.92" target="_blank" class="hover:underline">Facebook</a></li>
  <li><a href="https://www.instagram.com/margy.feltry/" target="_blank" class="hover:underline">Instagram</a></li>
  <li><a href="https://dk.pinterest.com" target="_blank" class="hover:underline">Pinterest</a></li>
  <li><a href="mailto:margi.feltrin@gmail.com" target="_blank" class="hover:underline">Email me</a></li>
</ul>
  </aside>
</header>
